.field-icon {
  padding: 6px 0 10px 15px;
    float: right;
    margin-right: 5px;
    top: 20px;
    position: relative;
    z-index: 2;
    outline: none;
    cursor: pointer;
}


html{
  scroll-behavior: smooth;
}