body {background-color: white;}
h1 {margin:0}
a {text-decoration: none;}
#wrap { background: aqua; width: 1500px;margin: auto;overflow: hidden;}
#header { background:grey;width: 1500px;height: 150px;}
#menu {background: rgb(234, 234, 243);width: 1500px;height: 50px;}
#menu ul {padding:o;margin:90}
#menu ul li {display: inline-block;margin-left: 10px;line-height: 50px;font-size: 20px;border: 2px solid white;padding: 3px 15px;border-radius: 10px;background: blue;}
#menu ul li :hover {background:aqua;}
#menu ul li a {color: black;}
#konten {width: 1500px;overflow: hidden;}
#kiri {width: 990px;float: left;padding: 5px;}
#kanan {width: 500px;float: left;}
#footer {width: 1500px;height: 50;background: chocolate;text-align: center;line-height: 40px;color: white;}
