
    #menu {height: 40px;}
    ul { 
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background:rgba(5, 253, 253, 0.623));
        }
    li {
        float: left;
        }
    li a {
        display :block;
        color :rgb(0, 0, 0);
        text-align: center;
        padding: 15px;
        text-decoration: none;
        }
    #navbar {
        overflow: hidden;
    }

    #navbar a {
        float: left;
        display: block;
        text-align: center;
        text-decoration: none;
    }
    
    .content {
        padding: 15px;
    }

    .sticky {
        position: sticky;
        top: 0px;
        width: auto;
    }

    .sticky + .content {
        padding: 20px;
    }